In [ ]:
# ðŸš¢ Titanic Survival Analysis with Python & Pandas(No ML)

## ðŸ“Œ Objective
#Explore the Titanic dataset to find what factors influenced passenger survival using only pandas


## ðŸŽ¯ Questions I Aimed to Answer:
# 1 - What percentage of passengers survived?
# 2 - Was survival related to gender?
# 3 - Did passenger class affect survival?
# 4 - Was age a factor in survival?
# 5 - Effect of family size on survival

In [ ]:
import pandas as pd
df = pd.read_csv("C:/Users/ujan2/Downloads/train.csv")
df.head(5)
df.info() # for getting no of total passengers and other data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# 1 
totalpeople = 891 ##total no of people on the ship in this sample
survivors = df[df['Survived']==1].shape[0]
percent = (survivors/totalpeople)*100
print(f"Only {percent} % people survived")

Only 38.38383838383838 % people survived

In [ ]:
 # 2
totalmale =  df[df['Sex']=="male"].shape[0]
male_survivors = df[(df['Sex']=="male")&(df['Survived']==1)].shape[0]
malepercent = (male_survivors/totalmale)*100 # % of male that survived

totalfemale = df[df['Sex']=="female"].shape[0]
female_survivors = df[(df['Sex']=="female")&(df['Survived']==1)].shape[0]
femalepercent = (female_survivors/totalfemale)*100 # % of female that survived
print(f"The data says that {malepercent}% of males survived ", end="")
print(f"and {femalepercent}& of female passengers survived")
print("which clearly shows that survival related to gender")

The data says that 18.890814558058924% of males survived and 74.20382165605095& of female passengers survived

In [24]:
#3
totfirstclass = df[df['Pclass']==1].shape[0]
totsecondclass = df[df['Pclass']==2].shape[0]
totthirdclass = df[df['Pclass']==3].shape[0]

first = df[(df['Survived']==1) & (df['Pclass']==1)].shape[0]
second = df[(df['Survived']==1) & (df['Pclass']==2)].shape[0]
third = df[(df['Survived']==1) & (df['Pclass']==3)].shape[0]

firstpercent = (first/totfirstclass)*100
secpercent = (second/totsecondclass)*100
thirdpercent = (third/totthirdclass)*100
print(f"{firstpercent}% of people from 1st class Survived")
print(f"{secpercent}% of people from 2nd class Survived")
print(f"{thirdpercent}% of people from 3rd class Survived")
print("YES Passenger class affected survival rates by big margins")

62.96296296296296% of people from 1st class Survived
47.28260869565217% of people from 2nd class Survived
24.236252545824847% of people from 3rd class Survived
YES Passenger class affected survival rates by big margins

In [25]:
# 4 
meansurvivor = df[df['Survived']==1].Age.mean() ## mean age of people who survived
meandead = df[df['Survived']==0].Age.mean() ## mean  age of people who died
print("Average age of people who survived:",meansurvivor)
print("Average age of people who didnt survive:",meandead)
print(" This indicates that younger passengers may have had a marginally higher chance of survival on the Titanic.")

Average age of people who survived: 28.343689655172415
Average age of people who didnt survive: 30.62617924528302
 This indicates that younger passengers may have had a marginally higher chance of survival on the Titanic.

In [26]:
#5
df['FamilySize'] = df['SibSp'] + df['Parch']
df.head()
# avg family size of people who died
dedfamily = df[df['Survived']==0].FamilySize.mean()
# avg family size of people who didnt die
nondedfamily =df[df['Survived']==1].FamilySize.mean()
print("People involved in casualties had average family size of ",dedfamily)
print("People who survived had average family size of ",nondedfamily)
print("There doesn't appear to be a strong correlation between family size and survival in this dataset based on average values alone.")

People involved in casualties had average family size of  0.8834244080145719
People who survived had average family size of  0.9385964912280702
There doesn't appear to be a strong correlation between family size and survival in this dataset based on average values alone.